@use '/src/styles/partials/variables' as*;
@use '/src/styles/partials/mixins' as *;
@use '/src/styles/partials/variables' as*;

.videoDescription {
    width: 100vw;
    height: auto;
    display: inline-block;
    flex-direction: column;

    @include desktop {
        width: 68vw;
        border-right: 1px solid $primary-color-3;
    }
    &__title{
        margin:1rem;
        color: $primary-color-1;
        font-size: 1.5rem;
        font-weight: 700;
        overflow-y: hidden;
        @include tablet {
            font-size: 2.0625rem;
            margin:0;
            margin-left: 2.25rem;
            margin-top: 1.5rem;
        }
        @include desktop {
            width: 50vw;
        }
    }
    &__divider {
        margin-left: 1rem;
        margin-right: 1rem;
        @include divider;
        &--tabDesk {
            @include tablet {
                display: none;
                margin: 0;
            }
        }
        @include tablet {
            margin: 0 2.25rem 0 2.25rem;
        }
        @include desktop {
            margin: 0 0 0 2.25rem ;
        }
    }
    &__aboutVideo {
        margin:1rem;
        display: inline-flex;
        width: 100%;
        gap: 2rem;
        flex-direction: row;
        @include tablet {
            display: inline-flex;
            margin-left: 2.25rem;
            justify-content: space-between;
        }
    }
    &__channel {
        font-size: .8125rem;
        color: $primary-color-1;
        margin-bottom: 1rem;
        @include tablet {
            margin: 0;
            font-size: .875rem;
        }
    }
    &__likes, &__views, &__time {
        font-size: .8125rem;
        color: $primary-color-3;
        font-weight: 600;
        margin-bottom: 0;
    }
    &__viewRow, &__likesRow {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.8rem;

    }
    &__likesRow{
        margin-top: 1rem;
        @include tablet{
            margin: 0;
            padding-right: 2.25rem;
        }
    }
    &__descriptionPara {
        margin: 1rem;
        color: $primary-color-1;
        font-size: .8125rem;
        font-weight: 600;
        @include tablet {
            margin-left: 2.25rem;
            margin-right: 2rem;
        }
    }

    &__channelTime {
        display: inline-flex;
        flex-direction: column;
        @include tablet {
            gap: 2rem;
            display: inline-flex;
            flex-direction: row;
            margin-right: 2.25rem;
        }
    }
}