@use 'variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin divider {
  height: .0625rem;
  background-color: $secondary-color-3;
}

@mixin title {
  color: $primary-color-1;
  font-size: 1.5rem;
  font-weight: 700;
  overflow-y: hidden;
  @include tablet {
      font-size: 2.0625rem;
  }
}
@mixin greyTitle {
  color: $primary-color-3;
  font-size: .8125rem;
  font-weight: 700;
  @include tablet {
      margin-top: 1.5rem;
      font-size: 1rem;
  }
}
@mixin button {
  display: block;
  width: 100%;
  background-color: $primary-color-2;;
  color: $primary-color-4;
  padding: .75rem 1.75rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  border-radius: .25rem;
  font-weight: 600;
  &:hover {
    background-color: $secondary-color-2;
  }
}

@mixin buttonImg {
  display: inline-flex;
  position:absolute;
  background-color: $primary-color-2;
  left: 3%;
  top: 26%;
}
