$primary-color-1: #323232;
$primary-color-2: #0095FF;
$primary-color-3:#AFAFAF;
$primary-color-4: #FFFFFF;

$secondary-color-1: #000000;
$secondary-color-2: #0065AD;
$secondary-color-3: #E1E1E1;
$secondary-color-4: #FAFAFA;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$font-regular: 'AvenirRegular',sans-serif;
$font-bold:'AvenirNextBold',sans-serif;
$font-demi:'AvenirNextDemi',sans-serif;

