@use '/src/styles/partials/variables' as*;
@use '/src/styles/partials/mixins' as *;
@use '/src/styles/partials/variables' as*;

.uploadVideo {
    border-top: 1px solid $secondary-color-3;
    width: 100vw;
    height: auto;
    margin-right: 1rem;
    @include desktop {
        width: 100vw;
        height: 100vh;
    }
    &__formSec {
        margin:0;
        display: inline-block;
        width: 100%;
    }
    &__headerName {
        @include title;
        margin: 1rem 0 1rem 1rem;
        @include tablet {
        margin-left: 2.25rem;
        }
        @include desktop{
            margin-left:10rem;
        }
    }
    &__titleLabel, &__descriptionLabel{
        @include greyTitle;
    }

    &__thumbnailLabel  {
        margin-left:1rem;
        @include greyTitle;
        @include tablet {
            margin-left: 2.25rem;
        }
        @include desktop{
            margin: 0;
        }
    }

    &__imageWrapper {
        width: 100%;  
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        @include tablet {
            width: 55vw;
        }
        @include desktop {
            width: 30vw;
            
        }
    }

    &__image {
        margin-top: 0.5rem;
        border-radius: 0.25rem;
        margin:0.5rem 1rem 0 1rem;
        object-fit: cover;
        @include tablet {
            margin-left: 2.25rem;
        }
        @include desktop {
            margin: 0;
        }
    }
    &__inputsSec {
        margin:0 1rem;
        @include tablet {
            margin: 0 2.25rem;
        }
        @include desktop {
            width: 40%;
            padding-right: 2rem;
        }
    }
    &__inlineSec {
        @include desktop{
            display: inline-flex;
            width: 100%;
            justify-content: center;
            margin:0 1.25rem;
        }
    }
    &__title, &__description {
        padding: .75rem;
        outline: none;
        border: 1px solid $secondary-color-3;
        border-radius:.25rem;
        box-sizing: border-box;
        font-weight: 600;
        font-size: .8125rem;
        margin-bottom: 1rem;
        width: 100%; 
    }
    &__title::placeholder, &__description::placeholder{
        color: $primary-color-1;
    }
    &__btnDiv {
        justify-content: center;
        align-items: center;
        display:inline-flex;
        width: 100%;
        @include tablet {
            width: 14.375rem;
        }
        @include desktop {
            margin-right: 11vw;
        }
    }
    &__publishBtn {
        @include button;
        margin: 0 1rem;
        @include tablet {
            margin-right:2.25rem;
        }

    }
    &__btnSec  {
        @include tablet {
            display: flex;
            flex-direction: row-reverse;
        }
    }
    &__publishBtn img {
        @include buttonImg;
    }
    &__cancelBtn {
        margin: 2.25rem 0;
        display: inline-flex;
        color: $primary-color-2;
        font-weight: 600;
        justify-content: center;
        width: 100%;
        @include tablet {
            width: 15%;
            margin-right: 3rem;
        }
    }

    &__divider{
       @include tablet {
        @include divider;
        margin: 1rem 2.25rem;
       }
       @include desktop {
        @include divider;
        margin: 1rem 10.25rem;
       }
    }
 }