@use './src/styles/partials/global' as *;
@use '/src/styles/partials/variables' as *;
@use '/src/styles/partials/mixins' as *;
*{
    font-family: 'AvenirNext';
}

.headers{
    margin-top:1rem;
    height: auto;
    width: 100vw;
    @include tablet {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        margin:1rem 2.25rem 0 2.25rem;
    }
    @include desktop {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__linkTag {
        text-decoration: none;
    }
    
    &__logoDiv{
        width: 100%;
        margin-bottom: 1rem;
        display: inline-flex;
        justify-content: center;
        @include tablet {
            width: auto;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__rightSec{
        @include tablet {
            display: inline-flex;
            flex-direction: row;
            margin-right: 4.25rem;
        }
    }

    &__logo{
        background-color: $primary-color-4;
        background-image: url('/src/assets/logo/BrainFlix-logo.svg');
        height: 1.5625rem;
        display: inline-flex;
        text-align: center;
        width: 7.5rem;
        background-repeat: no-repeat;
    }
    
    &__searchDiv {
        display: inline-flex;
        margin-bottom: 1rem;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: 2.6875rem;
        @include tablet {
            gap: 0;
            display: inline-flex;
            width: 30vw;
            justify-content: end;
        }
    }

    &__searchBar {
        text-indent: 1.25rem;
        padding: .75rem;
        outline: none;
        border: 1px solid $secondary-color-3;
        border-radius:.25rem;
        width: 78vw;
        box-sizing: border-box;
        margin:0 1rem;
        font-weight: 600;
        font-size: .8125rem;
    }
    &__searchBar::placeholder {
        color: $primary-color-1;
    }
    &__searchBar:placeholder-shown {
        padding-left: 1.25rem;
        background: url("/src/assets/icons/search.svg") no-repeat 1rem;
    }
    &__imageBox{
        width: 3rem;
        margin-right: 1rem;
        display: inline-flex;
        justify-content: end;
        flex-direction: column;
        @include tablet {
            display: none;
        }
    }
    &__tabDesk {
        display: none;
        @include tablet {
            display: flex;
            visibility:visible;
        }
    }
    &__image {
        width: 2.625rem;
        height: 2.625rem;
        border-radius: 100%;
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    &__imgCircle{
        width: auto;
        height: 100%;
    }

    &__uploadBtnDiv{
        margin-bottom: 1rem;
        width: 100vw;
        @include tablet {
            width: auto;
            display: inline-flex;
        }
    }
    &__uploadBtnAlone {
        margin: 0 1rem;
        @include tablet{
            width: 9.375rem;
        }
    }

    &__uploadBtn {
        @include button;
    }

    &__btnImg{
        @include buttonImg;
    }

}