@use '/src/styles/partials/global' as *;
@use '/src/styles/partials/variables' as*;
@use '/src/styles/partials/mixins' as*;

*{
    font-family: 'AvenirNext';
    background-color: $secondary-color-4;
    color: $primary-color-1;
    margin:0;
    padding: 0;
}

.main {
    &__innerSec {
        @include desktop {
            background-color: wheat;
            width: 100vw;
            display: inline-flex;
            flex-direction: row;
        }
}
}