@use '/src/styles/partials/variables' as*;
@use '/src/styles/partials/mixins' as *;
@use '/src/styles/partials/variables' as*;.hero {
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    align-items: center;
    background-position: top;

    &__videoContainer {
        background-color: $secondary-color-1;
        background-size: 100%;
        display: flex;
        justify-content: normal;
        @include tablet {
            padding: 0 2.25rem;
        }
        @include desktop {
            padding: 0 12.25rem;
        }
    }
}